*   {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Shippori Mincho', serif;
    color: black;            
}


body {
    display: grid;
    grid-template: auto;
    justify-content:center;
    align-items: center;
    min-height: 100yh;
    
}

header{
    width: flex;
    text-align: center;
}

h1 {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    background-image: linear-gradient(to right, rgb(16, 99, 110),rgb(12, 164, 184));
    border-color: #ffffff;
    border-radius: 10px;           
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 5vw;
}

ul{
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: black;
    padding: 1rem;
    font-size: 3vw;
}

.vert-nav {
    list-style-type: none;
    margin-top: 20%;
    padding: 0;
    width: max-content;
    background-color: #f1f1f1;
    position: fixed;
    height: min-content;
    overflow: auto;
    border: white;
    border-radius: 10px;
    font-size: 4vh;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-image: linear-gradient(to right, rgb(16, 99, 110),rgb(12, 164, 184));
    color: white;
}

/*
#header{
    display: none;    
}

#list{
    display:none;
}
*/
#grid{
    display:none;
}

.day-grid{
    display: grid;
    grid-template: auto;
}

@media only screen and (min-width: 640px) {
    .day-grid {
        display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
    }
    .day-grid > div {
    padding: 10px;
    }
}

@media only screen and (min-width: 981px) {
    .day-grid  {
        display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3%;
    grid-row-gap: 20px;
    }
    .day-grid  > div {
    padding: 10px;
    
    }
}

.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card
{
    position: relative;
    width: 200px;
    height: 240px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content
{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.container .card .content h2
{
    position: absolute;
    top: 0px;
    right:60;
    font-size:2rem;
    color: rgba(19, 179, 201, 0.842);
    pointer-events: none;
}
.container .card .content h3
{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size:1.5rem;
    color: rgba(0, 0, 0, 0.507);
    pointer-events: none;
}
.container .card .content p
{
    
    padding: 0.25rem;
    font-size:1rem;
    max-width: 160px;
    color:black;
    font-weight:300;
}

.container .card .content .you
{
    width: flex;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    background-image: linear-gradient(to right, rgb(156, 199, 16),rgb(12, 164, 184));
    border-color: #ffffff;
    border-radius: 10px;           
    color: white;
    padding: 0.25rem;
    text-align: center;
    font-size: 1rem;
}

input[type=text] {
    max-width: 160px;
    font-size: 1.5rem;
}

input[type=submit] {
    position: relative;
    display: inline-block;
    background:rgb(12, 164, 184);
    margin-top: 15px;
    color: white;
    border: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 0.5rem;
    }

    input[type=submit]:hover {
    background-color: #45a049;

    }